.main-view {
    min-height: 1000px;
    position: relative;
    z-index: 0;
}

.is-fullbleed {
    margin-top: -70px;
}

.lolomo {
    overflow: hidden;
    padding: 0 0 50px;
    z-index: 0;
}

.volatile-billboard-animations-container {
    display: block;
    position: relative;
    z-index: 1;
}

.billboard-row {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
}

.billboard-row {
    background-color: #000;
    margin-bottom: 20px;
    padding-bottom: 40%;
    touch-action: pan-y;
    user-select: none;
}

.billboard {
    background-color: #000;
    height: 56.25vw;
    position: absolute;
    width: 100%;
    z-index: 0;
}


.billboard-motion {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.bottom-layer {
    z-index: 2;
}

.hero-image-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.static-image {
    background-position: 50%;
    block-size: cover;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .4s cubic-bezier(.665, .235, .265, .8) 0s;
    width: 100%;
}

.image-layer {
    z-index: 5;
}

.trailer-vignette {
    background: linear-gradient(77deg, rgba(0, 0, 0, .6), transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity 0.5s;
}

.vignette-layer {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 8;
}

.hero-vignette {
    background-color: transparent;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
}

.embedded-components {
    align-items: center;
    bottom: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

.ActionButtons {
    height: 2.4vw;
    margin: 0 1.1vw 0 0;
    position: relative;
    width: 2.4vw;
}

.ltr-1t5n97z.round
.color-supplementary {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .7);
    color: white;
}

.ltr-1t5n97z {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 0px;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
    border-radius: 50%;
}

.action-button {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 1.35rem;
}

.ltr-1st24vv {
    line-height: 0;
}

.refresh-icon {
    height: 100%;
    width: 100%;
}


.billboard-row .billboard .maturity-rating {
    align-items: center;
    background-color: rgba(51, 51, 51, .6);
    border: 3px #dcdcdc;
    border-left-style: solid;
    box-sizing: border-box;
    display: flex;
    font-size: 1.1vw;
    height: 2.4vw;
    padding: 0.5vw 3.5vw 0.5vw 0.9vw;
}

.maturity-rating {
    display: inline-block;
}

.maturity-rating-icon {
    height: 2em;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    width: 2em;
}

.button-layer {
    z-index: 10;
}

.fill-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.fill-container {
    height: 100%;
    width: 100%;
}

.info {
    bottom: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;
    position: absolute;
    top: 0;
    width: 36%;
    z-index: 10;
}

.logo-and-text {
    transition: transform 1.5s cubic-bezier(.165, .84, .44, 1);
    width: 100%;
}

.title-wrapper {
    transform-origin: left bottom;
    transform: scale(1) translate3d(0px, 0px, 0px);
    transition-duration: 1300ms;
    transition-delay: 0ms;
}

.billboard-title {
    margin-bottom: 1.2vw;
    min-height: 13.2vw;
    position: relative;
}

.title-logo {
    transform-origin: bottom left;
    width: 100%;
    border: 0;
}

.info-wrapper {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 1300ms;
    transition-delay: 0ms;
    opacity: 1;
}

.info-wrapper-fade {
    opacity: 1;
    transition-duration: 600ms;
    transition-delay: 200ms;
}

.supplemental-message {
    color: #fff;
    font-size: 1.6vw;
    margin: 1vw 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
    transition: color 1s cubic-bezier(.165, .84, .44, 1);
}

.supplemental-message {
    align-items: center;
    display: flex;
    font-weight: 500;
}

.icon-top-10-badge {
    margin-right: 0.5rem;
    height: 1.5em;
    margin-right: .5em;
    width: 1.5em;
}

.synopsis {
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    margin-top: .1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
    width: 100%;
}

.billboard-links {
    display: flex;
    line-height: 88%;
    margin-top: 1.5vw;
    white-space: nowrap;
}

.billboard-row .billboard.button-layer {
    position: relative;
    z-index: 10;
}

.forward-leaning {
    margin-top: 1vw;
}

.billboard-links>a,
.billboard-links>button {
    flex-shrink: 0;
}

.billboard-links>a {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ltr-kjpk1q.hasLabel.hasIcon {
    padding-left: 2rem;
    padding-right: 2.4rem;
}

.billboard-links 
.playLink button {
    margin-left: 0;
}

.ltr-kjpk1q.color-primary {
    background-color: white;
    color: black;
}

.billboard-links button {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.ltr-kjpk1q {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
}

.play-container {
    line-height: 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    height: 2.4rem;
    width: 2.4rem;
}

.play-text {
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.gap {
    width: 1rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    position: relative;
}

.ltr-1ez4rzs.hasLabel.hasIcon {
    padding-left: 2rem;
    padding-right: 2.4rem;
}

.ltr-1ez4rzs.color-secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.billboard-links button {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.ltr-1ez4rzs {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap;
}

.circle-i-container {
    line-height: 0;
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.circle-i-icon {
    height: 100%;
    width: 100%;
}

.more-info-text {
    -webkit-font-smoothing: antialiased;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}

/* List of list of movies  */

.lolomoRow_title_card {
    box-sizing: border-box;
    margin: 3vw 0;
    padding: 0;
}

.lolomoRow {
    outline: 0;
    position: relative;
    z-index: 1;
}

.rowHeader {
    line-height: 1.3;
    margin: 0;
    font-weight: 500;
}

.lolomoRow,
.rowContainer {
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.rowTitle {
    color: #e5e5e5;
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0 4% .5em;
    min-width: 6em;
    text-decoration: none;
}

.row-header-title {
    display: table-cell;
    font-size: 1.4vw;
    line-height: 1.25vw;
    vertical-align: bottom;
}

.aro-row-header {
    display: table-cell;
    vertical-align: bottom;
}

.aro-row-chevron, 
.see-all-link {
    color: #54b9c5;
}

.see-all-link {
    cursor: pointer;
    display: inline-block;
    font-size: .9vw;
    line-height: .8vw;
    margin-right: 4px;
    max-width: 0;
    opacity: 0;
    transition: max-width 1s, opacity 1s, transform .75s;
    vertical-align: bottom;
    white-space: nowrap;
}

.aro-row-chevron {
    display: none;
    font-size: .9vw;
    transition: transform .75s;
    vertical-align: bottom;
}

.rowContainer {
    position: relative;
    z-index: 0;
}

.rowContent {
    box-sizing: border-box;
    padding: 0;
}

.slider {
    z-index: 2;
    margin: 0;
    padding: 0 4%;
    position: relative;
    touch-action: pan-y;
}

.handlePrev {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    left: -2px;
}

.handleNext {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    right: 0;
}

.active {
    cursor: pointer;
}

.handle {
    background: hsla(0, 0%, 8%, .5);
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4%;
    z-index: 20;
}

.indicator-icon {
    transform-origin: 55% 50%;
}

.slider .handle>.indicator-icon {
    align-self: center;
    display: none;
    font-size: 2.5vw;
    height: auto;
    transition: transform .1s ease-out 0s;
}

.pagination-indicator {
    display: block;
    list-style-type: none;
    margin: -24px 0 12px;
    padding: 0;
    position: absolute;
    right: 4%;
    top: 0;
}

.lolomoRow .pagination-indicator .active {
    background-color: #aaa;
}

.lolomoRow .pagination-indicator li {
    background-color: #4d4d4d;
    display: inline-block;
    height: 2px;
    margin-left: 1px;
    width: 12px;
}

.showPeek {
    overflow-x: visible;
}

.sliderMask {
    overflow-x: hidden;
    padding-bottom: 1px;
}

.sliderContent {
    white-space: nowrap;
}

.slider-item:first-child {
    padding-left: 0;
}

.slider-item {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 .2vw;
    position: relative;
    vertical-align: top;
    white-space: normal;
    z-index: 1;
}

.title-card:not(.loadingTitle) {
    display: block;
}

.title-card {
    position: relative;
    z-index: 1;
}

.slider-refocus {
    display: block;
}

.boxart-size-16x9, 
.boxart-size-32x9 {
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.boxart-size-16x9 {
    padding: 28.125% 0;
}

.boxart-rounded {
    border-radius: .2vw;
}

.boxart-container img {
    cursor: pointer;
    transition: all 0.2s linear;
}

.boxart-image:hover {
    
    transform: scale(1.4);
}

.boxart-image-in-padded-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}


@media screen and (min-width: 1500px) {
    .info {
        left: 60px;
    }

    .rowTitle {
        margin-left: 60px;
    }

    .slider {
        padding: 0 60px;
    }

    .handle {
        width: 60px;
    }

    .handle>.indicator-icon {
        font-size: 2em;
    }

    .pagination-indicator {
        right: 62px;
    }
}

@media screen and (min-width: 1400px) {
    .slider-item {
        width: 16.66666667%;
    }
}